body {
  background-image: linear-gradient(
      to bottom,
      #009688 0px,
      #009688 15vh,
      #d9dbd6 15vh,
      #d9dbd6 100%
  );
  font-family: sans-serif;
}
#app{
  height: 100%;
}

#avatar-io img,
#avatar img,
#avatar-2 img{
  width:50px;
  height: 50px;
  border-radius: 50%;
}
.fa-circle-notch,
.fa-message,
.fa-ellipsis-vertical,
.fa-magnifying-glass,
.fa-paperclip,
.fa-microphone,
.fa-face-smile{
  color: #b1b1b1;
  width: 20px;
}
#part-right,
#part-left{
  background-color: 
  #eaeaea;
}
.fa-bell-slash{
 color: #8edafc;
}
#bell{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}
#notifiche{
  background-color: #8edafc;
  padding: 0px 0px;
}
#attiva-notifiche span{
 font-size: 12px;
 color:gray;
 text-decoration:underline;
}
#chat{
  height: 100%;
  background-color: white;
}
#ultimo-accesso span,
#ultimo-messaggio span,
#chat #orario-accesso span{
  font-size: 10px;
  color:gray;
}
#col-right-chat{
  background-image:url(img/mine.jpg);
}
#message-chat{
background-color:#d5f9ba;
width: 300px;
}
#message-chat span,
#message-chat-1 span{
  font-size: 13px;
  color:gray;
}
#message-chat-1{
  background-color: white;
  width: 250px;
}